.page {
    background-color: red;
    color: black;
}

@media screen and (max-width: 430px) {
    .page {
        background-color: green;
    }
}

@media screen and (max-width: 425px) {
    .page {
        background-color: yellow;
    }
}

@media screen and (max-width: 420px) {
    .page {
        background-color: violet;
    }
}

@media screen and (max-width: 415px) {
    .page {
        background-color: blue;
    }
}

@media screen and (max-width: 410px) {
    .page {
        background-color: black;
    }
}

@media screen and (max-width: 405px) {
    .page {
        background-color: white;
    }
}

@media screen and (max-width: 400px) {
    .page {
        background-color: grey;
    }
}

@media screen and (max-width: 395px) {
    .page {
        background-color: orange;
    }
}

@media screen and (max-width: 390px) {
    .page {
        background-color: pink;
    }
}

@media screen and (max-height: 700px) {
    .page {
        color: aqua;
    }
}
 
@media screen and (max-height: 698px) {
    .page {
        color: purple;
    }
}

@media screen and (max-height: 696px) {
    .page {
        color: navy;
    }
}

@media screen and (max-height: 694px) {
    .page {
        color: orange;
    }
}

@media screen and (max-height: 692px) {
    .page {
        color: pink;
    }
}

@media screen and (max-height: 690px) {
    .page {
        color: white;
    }
}