.page {
    background-color: red;
    color: black;
}

@media screen and (max-width: 390px) {
    .page {
        background-color: green;
    }
}

@media screen and (max-width: 385px) {
    .page {
        background-color: yellow;
    }
}

@media screen and (max-width: 380px) {
    .page {
        background-color: violet;
    }
}

@media screen and (max-width: 375px) {
    .page {
        background-color: blue;
    }
}

@media screen and (max-width: 370px) {
    .page {
        background-color: black;
    }
}

@media screen and (max-width: 365px) {
    .page {
        background-color: white;
    }
}

@media screen and (max-width: 360px) {
    .page {
        background-color: grey;
    }
}

@media screen and (max-width: 355px) {
    .page {
        background-color: orange;
    }
}

@media screen and (max-width: 350px) {
    .page {
        background-color: pink;
    }
}

@media screen and (max-height: 700px) {
    .page {
        color: aqua;
    }
}
 
@media screen and (max-height: 699px) {
    .page {
        color: purple;
    }
}

@media screen and (max-height: 698px) {
    .page {
        color: navy;
    }
}

@media screen and (max-height: 694px) {
    .page {
        color: orange;
    }
}

@media screen and (max-height: 692px) {
    .page {
        color: pink;
    }
}

@media screen and (max-height: 690px) {
    .page {
        color: white;
    }
}