.page {
    background-color: red;
    color: black;
}

@media screen and (max-width: 550px) {
    .page {
        background-color: green;
    }
  }

  @media screen and (max-height: 700px) {
    .page {
        color: aqua;
    }
  }