.page {
    background-color: red;
    color: black;
}

@media screen and (max-width: 550px) {
    .page {
        background-color: green;
    }
  }

  @media screen and (max-height: 700px) {
    .page {
        color: aqua;
    }
  }

  @media screen and (max-width: 530px) {
    .page {
        background-color: yellow;
    }
  }

  @media screen and (max-height: 680px) {
    .page {
        color: purple;
    }
  }

  @media screen and (max-width: 510px) {
    .page {
        background-color: brown;
    }
  }

  @media screen and (max-height: 660px) {
    .page {
        color: navy;
    }
  }